/* TAG REDEFINITIONS */

* {
	box-sizing:border-box;
}

body {
	margin:0;
	font-size:100%;
	font-family:helvetica,arial,sans-serif;
}

a {
	color:inherit;
	font-weight:bold;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}




/* COMMON CLASSES */

.container {
	max-width:800px;
	margin-right: auto;
	margin-left: auto;
}


.centered-child {
	position:relative;
	top:15%;
	left:50%;
	
	transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, 0%);
	-moz-transform:translate(-50%, 0%);
}


.flex-parent {
	display:-webkit-flex;
	display:flex;
}
.flex-child {
	flex:1 1 auto;
}
.flex-none {
	flex:none;
}


.card {
	background-color:white;
	padding:10px;
	border-radius:5px;
	margin:1em 0;
	box-shadow: 0 2px 0 rgba(0,0,0,0.3);
}
.card>:first-child {
	margin-top:0;
}
.card>:last-child {
	margin-bottom:0;
}


.view-window {
	height:50vh;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	position:relative;
}
.view-window-box {
	height:calc(50vh - 100px);
	width:calc(50vw - 100px);
	text-align:center;
}
.view-description {
	position:absolute;
	width: 50vw;
	background-color: rgba(238,238,238,0.7);
}
.view-window-box img {
	max-height:100%;
	max-width:100%;
}
.view-window>img {
	max-height:calc(100% - 100px);
	max-width:calc(100% - 100px);
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}




.dual-box {

}
.dual-box img{
	max-width:100%;
}
.dual-box .box {
	width:50%;
	flex:1 1 auto;
	padding:30px;
}
.dual-box h2, 
.dual-box p {
	margin:0;
}




