body {
	background-color: rgb(238, 238, 238);
}

header {
	background-color:green;
	color:white;
	padding:10px;
}

header h1,
header p {
	margin:0;
}

a {
	color:green;
}




.card dl:after {
	content:'';
	display:table;
	clear:both;
}
.card dt {
	font-weight:bold;
	width:10em;
	text-align:right;
	padding-right:1em;
	float:left;
	clear:left;
}
.card dd {
	width:calc(100% - 10em);
	float:left;
	margin:0;
}


