body {
  margin: 10px;
}

img {
    width: 100%;
    height: auto;
}

.container {
    position: relative;
}

.header-title {
    position: absolute;
    top: 40%;
    left: 10%;
}

.recipe {
    float: left;
    width: 49%;
    padding: 1%;
}

.recipe.left {
	padding-left: 0px;
}

.recipe.right {
	padding-right: 0px;
}

.recipe-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

