
div {
    display: block;
}

nav.navbar {
    width: 100%;
    position: fixed;
    z-index:1;
}
.first {
    padding-top: 5em;
}
.second{
    padding-top: 10em;
}

.navbar {
    margin-top: 0;
    background-color: #050402;
    opacity: 0.7;

    color: white;
}

.navbar img {
    width: 40px;
}

.nav-link {
    color: white;
}

.navbar-brand img {
    width: 80px;
}
.container{
    position: relative;

}
#products img {
    width: 100%;
    height: 200px;
    max-height: 200px;
    margin-top: 50px;
}

#products h4,
h5 {
    margin-top: 20px;
    text-align: center;
}

.footer button {
    align-items: right;
}

.wrapper {
    background-image: url(images/livingRm.jpg);
    background-size: 100%;
}
.desciption{
    max-height: 300px;
    vertical-align: center;
}
