
.product-title { 
  -webkit-flex: 1;
          flex: 1;
  min-width: 200px;
  display: flex;
  align-items: center;
}

.product-title h1 {
	width: 250px;
}

.buy-button {
	right: 0;
	width: 150px;
	padding: 6px 2px;
}