img {
    width: 100%;
    height: auto;
    background-size: cover;
}


body {
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

header {
    margin-top: 5px;
    padding: 8px 30px;
    min-height: 48px;
}


table {
    border-collapse: collapse;
    border-style: hidden;
    margin: 0 auto;
    text-align: left;
}


td,
th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 40px;
}

.p-md-3 h1  {
    color: #ffffff;
    opacity: 0.8;
}

.align-self-center {
    color: #ffffff;
    opacity: 0.8;
}
th {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}


.vertical-align-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fixed-center {
    margin: auto;
    text-align: center;
    max-width: 1000px;
}

.container {
    display: flex;
    height: auto;
}

.centered-child {
    margin-top: 20px;
    width: 80%;
    position: relative;
    top: 20%%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
}

.description p {
    font-size: 20px;
    color: #f96187;
    width: 70%;
    position: relative;
    top: 20%%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    text-align: center;
    margin-top: 50px;
    line-height: 1.7;
}

.flex-parent {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-around;
}

.dual-box {
    float:right;
    float:left;
}

.dual-box img {
    max-width: 100%;
}

.dual-box .box {
    width: 50%;
    flex: 1 1 auto;
    padding: 30px;
}

.dual-box h2 {
    font-weight: bold;
    font-size: 30px;
    color: black;
}

.dual-box p {
    line-height: 1.7;
    color: gray;
    margin: 0;
}